<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Edit User {{ user.id }}</h1>
    <form action="/edit/user" method="POST">
      <input type="hidden" name="id" value="{{user.id}}" />
      <label for="first_name">First Name:</label>
      <input
        type="text"
        id="first_name"
        name="first_name"
        value="{{user.first_name}}"
      />
      <label for="last_name">Last Name:</label>
      <input
        type="text"
        id="last_name"
        name="last_name"
        value="{{user.last_name}}"
      />
      <label for="email">Email:</label>
      <input type="text" id="email" name="email" value="{{user.email}}" />
      <button type="submit">Update</button>
      <a href="/user/{{ user.id }}"> Show User</a>
      <a href="/"> Home</a>
    </form>
  </body>
</html>
